.blogAdderMain {
    display: grid;
    grid-template-columns: 3fr 1fr;

    .blogForm {
        background-color: $SpergGreenLight;
    }

    .blogSidebar {
        background-color: $SpergAzureLight;
    }
}