.naviBarBox {
    display: flex;
    justify-content: space-between;
    padding: 30px;

    font-size: 0.9rem;

    .naviSide {
        display: flex;
    }

    .naviLink {
        height: 22px;
        border-bottom: 1px solid transparent;
        transition: 0.5s ease-in-out;
        
        text-transform: uppercase;

        margin-right: 20px;
        
        a {
            color: $SpergGreen;
            text-decoration: none;
    
            &:hover {
                border-bottom: 1px solid $SpergGreen;
            }
        }

        .naviActive {
            color: $SpergOrange;
            border-bottom: 1px solid $SpergOrange;
        }
    }

    .authSide {
        display: flex;
    }
}